.hero {
    height: 500px;
    width: 100vw;

    img{
        height: 500px;
        width: 100vw;
        object-fit: cover;
        background-repeat: no-repeat;
    }
}

.timebased-data{
    margin-top: 8rem;
}