@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./gardening.scss";


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 255, 255, 255;
        --background-end-rgb: 255, 255, 255;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    min-height: 500px;        
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 800;

}

h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    font-weight: 800;
}

p{
  margin-top: 2rem;  
}

button{
    margin-top: 1.5rem;
}


.background {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 5rem;
    
    .background-bg {
        bottom: 0;
        height: 100%;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        top: 0;
        width: 100vw;
        z-index: -1;
   
    }
}

.pictures{
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    bottom: -10rem;
    margin-top: -4rem;

    
    .picture-one{
        width: 35%;
    }

    .picture-two{
        width: 50%;
        height: 80%;

        img{
            object-fit: cover;
        }
    }
}

.two-column{
    justify-content: space-between;
    align-items: center;
    .column-one{
     padding-right: 4rem;
     width: 60%;
    }
    .column-two{
        width: 30%;
        height: 80%;
    }
}